.edwiser_site_monitor .nav-tabs .nav-item .nav-link.esm-outline, .edwiser_site_monitor .edwiser_plugins_recommendation .esm-outline {
    color: #1177d1;
    border-color: #1177d1;
}
.edwiser_site_monitor .esm_legend {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.edwiser_site_monitor .legends {
    float: right;
}
.edwiser_site_monitor .legends .legend {
    display: inline-block;
    margin: 0 0.2rem;
}
.edwiser_site_monitor .legends .legend .color {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
}
aside.block-region[data-blockregion="content"] .edwiser_site_monitor .cannot_display_server_usage {
    display: none;
}
aside.block-region:not([data-blockregion="content"]) .edwiser_site_monitor .server_usage_chart {
    max-height: 400px;
    display: none;
}
.edwiser_site_monitor .server_usage_chart {
    background: white;
}
.edwiser_site_monitor .server-plugins, .edwiser_site_monitor .has-loader {
    min-height: 4rem;
    position: relative;
}
.edwiser_site_monitor .server-plugins .server-plugins-list {
    margin-top: 1.2rem;
}
.edwiser_site_monitor .server-plugins .server-plugins-list .generaltable {
    max-height: 30rem;
    overflow-y: auto;
}
.edwiser_site_monitor .server-plugins .server-plugins-list .plugin-list-refresh {
    width: 100%;
    text-align: right;
}
.edwiser_site_monitor .has-loader .edwiser-server-monitor-loader {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.6);
    top: 0;
}
.edwiser_site_monitor .has-loader .edwiser-server-monitor-loader:not(.show) {
    display: none;
}
.edwiser_site_monitor .has-loader .edwiser-server-monitor-loader .edwiser-server-monitor-loading-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.edwiser_site_monitor .has-loader .edwiser-server-monitor-loader .edwiser-server-monitor-loading-icon .fa {
    font-size: 2rem;
}
.edwiser_site_monitor .generaltable.edwiser tbody tr:not(.edwiser) {
    display: none;
}
.edwiser_site_monitor .generaltable.other tbody tr:not(.other) {
    display: none;
}
.edwiser_site_monitor .generaltable.update tbody tr:not(.update) {
    display: none;
}
.edwiser-plugin-filter {
    margin-right: 1rem;
}

/* Recommendation grid styling */
.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card {
    margin-bottom: 2.143rem;
}
.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card-shadow {
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
}

.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card .cover {
    width: 100%;
    padding: 0;
    border-bottom: none;
    overflow: hidden;
}

.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card .cover .cover-image {
    width: 100%;
}

 .edwiser_plugins_recommendation .recommendation-list .recommendation-item .card .card-header {
    border: none;
    box-shadow: none;
}

.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card  .card-header:first-child {
    border-radius: calc(.215rem - 1px) calc(.215rem - 1px) 0 0;
}

.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card .card-block {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.429rem;
}

.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card .card-block+.card-block {
    padding-top: 0;
}

.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card .card-block .card-title {
    word-break: break-word;
    margin-top: 0;
    margin-bottom: .858rem;
}

.edwiser_plugins_recommendation .recommendation-list .recommendation-item .card .card-block .card-text:last-child {
    margin-bottom: 0;
}

.edwiser_plugins_recommendation .recommendation-list.blocks {
    padding: 0;
    margin: 0;
    margin-right: -1.0715rem;
    margin-left: -1.0715rem;
    list-style: none;
}

/* Update info container designs */
.edwiser_site_monitor .edwiserpluginupdateinfo .singlebutton {
    margin: 5px 0;
    padding: 0;
}
.edwiser_site_monitor .edwiserpluginupdateinfo .info {
    display: inline-block;
}
.edwiser_site_monitor .separator:after {
    content: " | ";
}
.edwiser_site_monitor .edwiserpluginupdateinfo .info {
    display: inline-block;
}
.edwiser_site_monitor .nav-tabs .nav-item .nav-link.btn-primary {
    color: white;
}
.edwiser_site_monitor .generaltable tbody td a {
    color: #62a8eb;
}
